[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=16
width=256
height=256
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation=1.5
exposure=1.5
hue=.1

learning_rate=0.00261
burn_in=1000
max_batches=500200
policy=steps
steps=400000,450000
scales=.1,.1

#0 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

#1 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

#2 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#3 - Route
[route]
layers=-1
groups=2
group_id=1

#4 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

#5 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

#6 - Route
[route]
layers=-1,-2

#7 - 1x1 Conv
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

#8 - Route
[route]
layers=-6,-1

#9 - 2x2 Maxpool
[maxpool]
size=2
stride=2

#10 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#11 - Route
[route]
layers=-1
groups=2
group_id=1

#12 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#13 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#14 - Route
[route]
layers=-1,-2

#15 - 1x1 Conv
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#16 - Route
[route]
layers=-6,-1

#17 - 2x2 Maxpool
[maxpool]
size=2
stride=2

#18 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#19 - Route
[route]
layers=-1
groups=2
group_id=1

#20 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#21 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#22 - Route
[route]
layers=-1,-2

#23 - 1x1 Conv
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#24 - Route
[route]
layers=-6,-1

#25 - 2x2 Maxpool
[maxpool]
size=2
stride=2

#26 - 1x1 Conv
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#27 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#28 - 1x1 Conv
[convolutional]
size=1
stride=1
pad=1
filters=36
activation=linear

#29 - Yolo - Output 1 - Detection Layer - scale 1
[yolo]
mask=3,4,5
anchors=7, 13,  20, 39,  33,101,  74, 62,  77,166, 174,197
classes=7
num=6
jitter=.3
scale_x_y=1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh=.7
truth_thresh=1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6

#30 - Route
[route]
layers=-6

#31 - 1x1 Conv
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#32 - 3x3 Conv
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#33 - 1x1 Conv
[convolutional]
size=1
stride=1
pad=1
filters=36
activation=linear

#34 - Yolo - output 2 - Detection Layer - Scale 2
[yolo]
mask=0,1,2
anchors=7, 13,  20, 39,  33,101,  74, 62,  77,166, 174,197
classes=7
num=6
jitter=.3
scale_x_y=1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh=.7
truth_thresh=1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6